.container {
  width: 240px;
  height: 320px;
  margin: 10px 10px;
  border: 1px solid red;
  background-color: rgb(192, 197, 197);
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: orange;
  font-size: 14px;
}
